body {
  margin: 0;
  padding: 0 0 2rem;
  background-color: #181818;
}

p, ul, li {
  font-size: rem-calc(18);
}

p {
  line-height: 1.7;
}

ul {
  li {
    margin-left: .5rem;
    font-size: 24px;
    position: relative;
    color: $primary-color;

    span {
      font-size: rem-calc(18);
      color: $body-font-color;
    }

    ul {
      li {
        list-style-type: circle;
      }
    }
  }
}

footer {
  margin-top: 2rem;
}
