.button {
  border-radius: 3px;
  padding: 1.25rem 2rem;
  font-size: rem-calc(16);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button--hollow {
  background: none;
  border: 3px solid $white;
}
